.form-label {
  width: 100%;
}

.form-control {
  width: 100%;
}

input {
  padding: 0.2rem;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
}

input.ng-dirty.ng-invalid {
  outline-color: red;
  border-color: red;
}

.form-container {
  width: 300px;
  text-align: center;
  margin: auto;
}

.result-container {
  width: 200px;
  height: 100px;
  margin: auto;
}

.button {
  background-color: var(--color-primary-100); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-primary-120);
}

.button:active {
  background-color: var(--color-primary-140);
}

.button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
