<app-header></app-header>
<main>
  <app-card>
    <div class="form-container">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <label class="form-label" for="number">Bitte gib eine Zahl ein:</label>
        <input
          class="form-control"
          name="number"
          id="number"
          style="text-align: right"
          ngModel
          required
          pattern="^[1-9]+[0-9]*$"
        />
        <button [disabled]="!f.valid" class="button" style="margin-top: 1rem">
          ABSCHICKEN
        </button>
      </form>
    </div>
    <div class="result-container" style="margin-top: 1rem">
      <app-card>
        <h1 style="text-align: center">{{ resultText | uppercase }}</h1>
      </app-card>
    </div>
  </app-card>
</main>
