/* You can add global styles to this file, and also import other style files */
:root {
  font-family: "Muli";
  --color-primary-100: #5959ba;
  --color-primary-120: #4c4cae;
  --color-primary-140: #34347d;
  --color-text-light: white;
  --color-text-dark: black;
}
.test {
  background-color: green;
}
main {
  margin: 1rem;
  margin-top: 5rem;
}
